.vscode/
.idea/
cmake-build-debug/
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/reply/cache-v2-69af1b2eefb26ff9e698.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b85dc61a795b3bdce94c.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-281a091e4594025a85ee.json
cmake-build-debug/.cmake/api/v1/reply/target-Chamber_of_C-Debug-a73de9d43d4439cc5081.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-24594584f507405bb205.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
